@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;0,900;1,100;1,400;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 20px 0 20px;
}

body {
    font-family: 'Lato', sans-serif;
    overflow: hidden;


}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}


body svg:nth-child(1) {
    position: fixed;
    z-index: -1;
    right: 0;
    top: 0;
    width: 300px;
    transform: translate(90px, -120px) rotate(150deg);
}

body svg:nth-child(2) {
    position: fixed;
    z-index: -1;
    left: 0;
    bottom: 0;
    width: 300px;
    transform: translate(-100px, 120px) rotate(150deg);

}

.header {
    position: fixed;
    height: 15vh;
    display: flex;
    align-items: center;
    font-size: 15px;
    z-index: 5;
    top: 0;


}

.logo {
    display: flex;
    align-items: center;


}

.logo h1 {
    font-size: .9em;
    font-weight: bold;
}



section {
 
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
   height: 100vh;

  
}


.title-color{
    font-size: 33px !important;
    font-weight: 900 !important;
    color: #00BFAF;
    padding: 0 25px 0 25px;
    
}


.wrapper {

display: flex;

}

.wrapper2 {
    display: flex;
    

    
    }

.cont1 {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 30px;
    padding-top: 100px;

}

.cont1 h1:nth-child(1) {
    font-size: .7em;
}

.cont1 h1:nth-child(2) {
    font-size: .7em;
}


.img-sec h1 {
    margin-top: 20px;
}

/*page 2*/
.cont2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;

}

.form__group {
    position: relative;
    padding: 15px 0 0;
    margin: auto;
    width: 80%;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: rgb(165, 65, 65);
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form__field::placeholder {
    color: transparent;
}

.form__field:placeholder-shown~.form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
}

.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
}

.form__field:focus~.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight: 700;
}

/* reset input */
.form__field:required,
.form__field:invalid {
    box-shadow: none;
}


button {
    font-size: 18px;
    font-weight: 800;
    color: white;
    background-color: #00BFAF;
    transition: .2s;
}

button:hover {
    background-color: #1a8888;
}


/*page3*/

.cont3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}


.cont3 p {
    padding: 0 20px 0 20px;
}

.select-sec {
    display: grid;
    grid-template-columns: auto auto;
    gap: 6px;
}

.quest {
    display: flex;
    align-items: center;
    gap: 4px;
    transition: .3s;
}

.quest h1 {
    color: #13263d;
    font-size: .7em;
}


.quest:hover{
    transform: scale(1.1);
}

.select-sec a {
    text-decoration: none;
}
.circle {
    background-color: #008ca8;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}




.circle img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    
}



/*page4*/

.cont4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
}


.container-form {
    width: 90vw;
 
}

.container-form form {
    display: flex;
    padding: 0 15px 0 15px;
    margin-top: 10px;
    gap: 30px;
    flex-direction: column;

}

.quest2{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    gap: 10px;

}


.parrafo-quest {

    text-align: start;
    font-size: 14px;
    
 

 
   

}
.sec4{
    position: relative;
    
}

.cont4 button{
    width: 90px;
    margin: auto;

}
.skip{
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-30px, 30px);
    text-decoration: none;
    color: aliceblue;
    font-size: 30px;
    
  

  
}

.group-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 5px;

  
   


}

.space-box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 25px;
    width: 60px;
    height: 35px;
    color: white;
    cursor: pointer;
   
}

.box-like{
    background-color: rgb(164, 235, 164);
   
 

}

.box-dislike{
    background-color: rgb(219, 150, 150);
}

.radio_label1{
    cursor: pointer;
}

.radio_label2{
    cursor: pointer;
}

.radio_input{
    display: none;
    cursor: pointer;
}

.radio_input:checked + .radio_label1 {
    background-color:#00702b ;
    width: 100%;
    height: 100%;
   
}
.radio_input:checked + .radio_label2 {
    background-color:#d10707 ;
    width: 100%;
    height: 100%;
}



@media screen and (min-width:744px) {

    .parrafo-quest {

 
    font-size: 20px; 
  
    width: 600px !important;

}
}

